<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- READ_EXTERNAL_STORAGE permission for accessing images and videos -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/algotapes2logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/algotapes2logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Algotapes2"
        tools:targetApi="tiramisu">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity
            android:name=".CreateEvent"
            android:exported="false" />
        <activity
            android:name=".EventsFragment"
            android:exported="false" />
        <activity
            android:name=".ObjectDetectionActivity"
            android:exported="false" />

        <activity
            android:name=".TextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".HelpSettings"
            android:exported="false" />
        <activity
            android:name=".SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileSetting"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadVideo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
    </application>

</manifest>